@import 'lib/nib'

html
body
	margin 0
	padding 0
	
a
	&:link
	&:visited
		text-decoration none
	&:hover
	&:active
	&:focus
		text-decoration underline



	
div.book
	padding 1em
	padding-left 33%
	
	line-height 1.5
	font-family Helvetica, Arial, sans-serif
	
	dl
		margin auto 1em
		font-size 90%
		
		dt
			font-weight bold
			
@import 'nav'
