.navCurrent
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #000;
  FONT-WEIGHT: bold;
  FONT-SIZE: 75%;
  BACKGROUND-COLOR: transparent;
}
a.navLink:visited
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #939;
  FONT-WEIGHT: bold;
  FONT-SIZE: 75%;
  BACKGROUND-COLOR: transparent;
}
a.navLink:link
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #009;
  FONT-WEIGHT: bold;
  FONT-SIZE: 75%;
  BACKGROUND-COLOR: transparent;
}
a.navLink:active
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #36C;
  FONT-WEIGHT: bold;
  FONT-SIZE: 75%;
  BACKGROUND-COLOR: transparent;
}
a.navLink:hover
{
  COLOR: #C60;
  BACKGROUND-COLOR: transparent;
}
.subNavCurrent
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #000;
  FONT-WEIGHT: bold;
  FONT-SIZE: 70%;
  TEXT-INDENT: 10pt;
  BACKGROUND-COLOR: transparent;
}
a.subNavLink:visited
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #939;
  FONT-WEIGHT: bold;
  FONT-SIZE: 70%;
  TEXT-INDENT: 10pt;
  BACKGROUND-COLOR: transparent;
}
a.subNavLink:link
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #009;
  FONT-WEIGHT: bold;
  FONT-SIZE: 70%;
  TEXT-INDENT: 10pt;
  BACKGROUND-COLOR: transparent;
}
a.subNavLink:active
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #36C;
  FONT-WEIGHT: bold;
  FONT-SIZE: 70%;
  TEXT-INDENT: 10pt;
  BACKGROUND-COLOR: transparent;
}
a.subNavLink:hover
{
  COLOR: #C60;
  BACKGROUND-COLOR: transparent;
}
.jointext
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #000;
  FONT-WEIGHT: bold;
  FONT-SIZE: x-small;
  PADDING-LEFT: 20pt;
  LINE-HEIGHT: 14pt;
  BACKGROUND-COLOR: #668099;
}
.text
{
  FONT-FAMILY: sans-serif;
  COLOR: #000;
  FONT-SIZE: small;
  LINE-HEIGHT: 14pt;
  BACKGROUND-COLOR: transparent;
}
.description
{
  FONT-FAMILY: sans-serif;
  COLOR: #000;
  PADDING-LEFT: 20pt;
  LINE-HEIGHT: 14pt;
  BACKGROUND-COLOR: transparent;
}
a.toplink:link
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #000;
  FONT-WEIGHT: bold;
  FONT-SIZE: 10pt;
  PADDING-LEFT: 20pt;
  BACKGROUND-COLOR: transparent;
}
a.toplink:visited
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #000;
  FONT-WEIGHT: bold;
  FONT-SIZE: 10pt;
  PADDING-LEFT: 20pt;
  BACKGROUND-COLOR: transparent;
}
a.toplink:hover
{
  BACKGROUND-COLOR: #FF9;
}
body
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #000;
  FONT-WEIGHT: bold;
  LINE-HEIGHT: 14pt;
  BACKGROUND-COLOR: transparent;
}
.heading-unfinished
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #000;
  FONT-WEIGHT: bold;
  FONT-SIZE: medium;
  BACKGROUND-COLOR: transparent;
}
.smallheading
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #669;
  FONT-WEIGHT: bold;
  FONT-SIZE: medium;
  BACKGROUND-COLOR: transparent;
}
a.smallheading:visited
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #939;
  FONT-WEIGHT: bold;
  FONT-SIZE: medium;
  BACKGROUND-COLOR: transparent;
}
a.smallheading:link
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #009;
  FONT-WEIGHT: bold;
  FONT-SIZE: medium;
  BACKGROUND-COLOR: transparent;
}
a.smallheading:active
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #36C;
  FONT-WEIGHT: bold;
  FONT-SIZE: medium;
  BACKGROUND-COLOR: transparent;
}
a.smallheading:hover
{
  BACKGROUND-COLOR: #FF9;
}
.heading
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #467;
  FONT-WEIGHT: bold;
  FONT-SIZE: large;
  BACKGROUND-COLOR: transparent;
}
.bigheading
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #356;
  FONT-WEIGHT: bold;
  FONT-SIZE: x-large;
  LINE-HEIGHT: 100%;
  BACKGROUND-COLOR: transparent;
}
.title
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #000;
  FONT-WEIGHT: bold;
  FONT-SIZE: x-large;
  LINE-HEIGHT: 200%;
  PADDING-LEFT: 20pt;
  BACKGROUND-COLOR: transparent;
}
.author
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #C60;
  FONT-WEIGHT: bold;
  FONT-SIZE: medium;
  BACKGROUND-COLOR: transparent;
}
.smallLink
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #678;
  FONT-WEIGHT: bold;
  FONT-SIZE: x-small;
  BACKGROUND-COLOR: transparent;
}
a:link
{
  FONT-FAMILY: sans-serif;
  COLOR: #009;
  BACKGROUND-COLOR: transparent;
}
a:visited
{
  FONT-FAMILY: sans-serif;
  COLOR: #939;
  BACKGROUND-COLOR: transparent;
}
a:hover
{
  BACKGROUND-COLOR: #FF9;
}
.nolink
{
  COLOR: #009;
  BACKGROUND-COLOR: transparent;
}
.date
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #C60;
  FONT-WEIGHT: bold;
  FONT-SIZE: x-small;
  LINE-HEIGHT: 14pt;
  BACKGROUND-COLOR: transparent;
}
.sample
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #C60;
  FONT-WEIGHT: bold;
  FONT-SIZE: small;
  LINE-HEIGHT: 14pt;
  BACKGROUND-COLOR: transparent;
}
.section
{
  BACKGROUND: transparent;
  COLOR: #000;
  FONT-FAMILY: "Courier New", Courier, monospace;
  FONT-WEIGHT: bold;
  FONT-SIZE: x-large;
  TEXT-INDENT: 36pt;
}
.subsection
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #678;
  FONT-WEIGHT: bold;
  FONT-SIZE: medium;
  BACKGROUND-COLOR: transparent;
}
.normal
{
  FONT-FAMILY: "Courier New", Courier, monospace;
  COLOR: #000;
  FONT-WEIGHT: bold;
  FONT-SIZE: small;
  PADDING-LEFT: 36pt;
  BACKGROUND-COLOR: #E58519;
}

